
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"type="text/css" href="C:\Users\burnt\source\repos\ContactsKlein\ContactsKlein\wwwroot\lib\bootstrap\twitter-bootstrap\css\bootstrap.min.css" >
</head>
<body>
    <div class="container">
        <header> class="jumbotron">
                <h1>Contact List</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
